.card-shadow {
  box-shadow: 5px 5px 15px 5px rgba(193, 228, 241, 0.445);

  a {
    text-decoration: none;
  }

  .card-title {
    color: #5f9ea0;
  }

  .card-text {
    color: #5f9ea0;
  }
}

.card-img {
  display: block;
  object-fit: fill;
}

.card-shadow .fav-button {
  cursor: pointer;
  transition: 0.2s linear;
  position: absolute;
  color: #ffffff !important; // Using !important to override Bootstrap styles
  background-color: #5f9ea0;
}

.card-shadow .fav-button:hover {
  transform: scale(1.2);
  color: #5f9ea0 !important;
  background-color: darken(#5f9ea0, 10%);
}
