$primary: rgb(0, 195, 255);
$body-bg: white;
$body-color: black;

.background {
  background: linear-gradient(to bottom, #211d1a, #000000);
  height: 100%;
}

@import "~bootstrap/scss/bootstrap.scss";
